body{
background-image: url("../images/space.jpg");
background-color: #cccccc;
}

p {
	margin-left: 5px;
	margin-top: 5px;
}

.crystalsHeader {
	color: white;
	font-size: 25px;
	font-weight: bold;
	background-color: #c97126;
	padding: 10px;
	margin-top: 15px;
	margin-left: 15px;

}

.instructions {
	color: #69ab62;
	font-weight: bold;
	background-color:#fbe6cd;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

#randomNumberDisplay {
	background-color:#5bc880;
	font-size: 45px;
	margin-top: 15px;
	margin-left: 15px;
}

.winLose{
	background-color:#4afdfe;
	margin-top: 15px;
}

.crystal {
	height:150px;
	margin-top: 15px;
	margin-left: 15px;
}

#totalTitle {
	color:white;
	background-color:#2ba194;
	width: 250px;
	margin-top: 15px;
	margin-left: 15px;
}

#totalScore {
	color: white;
	background-color:#2ba194;
	width: 250px;
	font-size:45px;
	margin-top: 15px;
	margin-left: 15px;
}

#thanos {
	width: 60%;
}